@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.main_content {
  width: 100vw;
  height: 100vh;
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
.main_content .score {
  position: absolute;
  width: 300px;
  height: 70px;
  background-color: rgb(43, 80, 0);
  top: 20px;
  left: 50px;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 5px 8px #000;
}
.main_content .game_area {
  height: 100vh;
  width: 450px;
  margin: 0 auto;
  background-color: rgb(53, 53, 53);
  position: relative;
  border-left: 7px dashed #fff;
  border-right: 7px dashed #fff;
}
.main_content .message_area {
  position: absolute;
  width: 600px;
  height: 150px;
  background-color: red;
  border-radius: 20px;
  box-shadow: 0 5px 8px #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}
.main_content .game_area .car,
.main_content .game_area .enemy {
  position: absolute;
  width: 100px;
  height: 120px;
  background-image: url(images/car.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: -28px;
  bottom: 100px;
  z-index: 1;
}
.main_content .game_area .lines {
  position: absolute;
  width: 10px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main_content .hide {
  display: none;
}
